/*=== Variables ===*/
:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --clr-main: rgb(68, 68, 68);
  --clr-blue1: hsl(209, 61%, 16%);
  --clr-blue2: hsl(209, 70%, 30%);
  --clr-blue3: hsl(209, 70%, 40%);
  --clr-orange1: hsl(41, 100%, 50%);
  --clr-background: hsl(206, 33%, 96%);
  --clr-background2: hsla(0, 0%, 100%, 0.5);
  --container-width: 65vw;
}
/*============================== */
/*=== Global Style ===*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 1.25rem;
  background: var(--clr-background);
  color: var(--clr-main);
  height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--clr-blue1);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: var(--radius);
}
/*=== Global Classes ===*/
.container-center {
  width: var(--container-width);
  margin: 0 auto;
  min-width: 600px;
}
.btn {
  padding: 10px 16px;
  font-weight: 700;
  transition: var(--transition);
  cursor: pointer;
}
.dollar {
  color: var(--clr-main);
}
.yellow {
  color: var(--clr-orange1);
}
.blue {
  color: var(--clr-blue2);
}
/*============================== */

/*=== HEADER ===*/
.header-container {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 5rem 3rem 3rem 3rem;
}
/*--Logo--*/
.logo {
  color: var(--clr-blue1);

  font-family: "Mochiy Pop P One", sans-serif;
}
.logo-icon {
  color: var(--clr-orange1);
}
/*--Navigation--*/
.navigation {
  display: flex;
  align-items: center;
}
nav {
  margin-left: 30px;
}
nav ul {
  display: flex;
}
nav li {
  margin-right: 30px;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--clr-blue2);
  letter-spacing: var(--spacing);
}
.nav-link:hover {
  transition: var(--transition);
  color: var(--clr-blue3);
}
.cart-icon {
  color: hsl(0, 0%, 100%);
  margin-right: 6px;
}
.cart-button {
  background-color: var(--clr-blue2);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.cart-button:hover {
  background-color: var(--clr-orange1);
}
/*==============================*/

/*=== HOME  ===*/
.home-container {
  padding: 3rem 3rem 0 3rem;
  background: var(--clr-background2);
  height: 100%;
  width: var(--container-width);
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container h2 {
  text-align: center;
}
.home-container img {
  width: 600px;
  border-radius: var(--radius);
  margin-bottom: 1.5rem;
}
.home-container .shop-btn {
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  margin-bottom: 100px;
  background: var(--clr-orange1);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
}
.home-container .shop-btn:hover {
  background-color: var(--clr-blue3);
}
.home-container .shop-btn-icon {
  margin-left: 10px;
  font-size: 1.2rem;
  color: hsl(0, 0%, 92%);
  transition: var(--transition);
}
.home-container .shop-btn:hover .shop-btn-icon {
  color: hsl(0, 100%, 42%);
}
/*==============================*/

/*=== SHOP  ===*/
.shop-container {
  padding: 3rem 3rem 0 3rem;
  background: var(--clr-background2);
  height: 100%;
  width: var(--container-width);
  min-width: 600px;
}
.shopping-cart {
  display: flex;
}
/*==============================*/

/*=== Product ===*/
.product-container {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 1rem;
  max-width: 1170px;
}
@media screen and (min-width: 600px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
  }
  .images-container img {
    width: 100%;
    height: auto;
  }
  .product-card {
    margin-bottom: -100px;
  }
}
.product-card {
  width: 100%;
  height: 390px;
  margin-bottom: -110px;
}
.images-container {
  width: 100%;
  height: 70%;
  position: relative;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.images-container img {
  width: 100%;
  height: auto;
}
.product-card__infos {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: var(--transition);
  background-color: rgba(255, 254, 249, 0.5);
  padding: 0.5rem 1rem;
}
.product-card__infos:hover {
  background-color: rgba(255, 254, 249, 0.8);
}
.product-card__infos-header,
.product-cart__infos-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__infos-header h4 {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.product-card__infos-price {
  color: var(--clr-blue3);
  font-weight: 700;
  font-size: 1.8em;
}
.product-card__infos-header .product-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card__infos-header .product-quantity p {
  font-weight: 700;
  font-size: 1.4em;
  margin: 0 6px;
  color: var(--clr-blue3);
}
.product-card__infos-header .product-quantity button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.product-cart__infos-footer button {
  color: hsl(0, 0%, 100%);
  background: var(--clr-orange1);
  transition: var(--transition);
}
.product-cart__infos-footer button:hover {
  background: var(--clr-blue2);
}
.green {
  background: yellowgreen !important;
}
/*==============================*/

/*=== Checkout ===*/
.checkout-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-background);
  padding: 3rem 3rem 0 3rem;
  transform: translate(100%);
}
.show-checkout {
  transform: translate(0%);
}
@media screen and (min-width: 700px) {
  .checkout-container {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 45%;
    height: 100%;
    transition: var(--transition);
    transform: translate(100%);
  }
  .show-checkout {
    transform: translate(0%);
  }
}
@media screen and (min-width: 1000px) {
  .checkout-container {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 30%;
    height: 100%;
    transition: var(--transition);
    transform: translate(100%);
  }
  .show-checkout {
    transform: translate(0%);
  }
}
@media screen and (min-width: 1300px) {
  .checkout-container {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 25%;
    height: 100%;
    transition: var(--transition);
    transform: translate(100%);
  }
  .show-checkout {
    transform: translate(0%);
  }
}
.checkout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-header h3 {
  font-size: 2rem;
  margin: 0;
}
.checkout-container h4 {
  font-size: 1.8rem;
  margin-bottom: 0;
}
.checkout-container h5 {
  font-size: 1rem;
  margin-top: 0;
}
.checkout-header button {
  font-size: 3rem;
  color: var(--clr-blue2);
  transition: var(--transition);
}
.checkout-header button:hover {
  color: var(--clr-orange1);
}
.checkout-product-list {
  padding: 20px 0;
}
.checkout-product {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.checkout-product p {
  font-weight: 700;
}
.checkout-product-list button {
  background: var(--clr-orange1);
  padding: 0.2rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: var(--transition);
}
.checkout-product-list button:hover {
  background: var(--clr-blue3);
}
.checkout-left {
  display: flex;
  align-items: center;
}
.checkout-left .product-quantity {
  margin-right: 20px;
}
.checkout-left .product-quantity button {
  font-size: 0.8rem;
}

.img-checkout {
  width: 50px;
  height: 37px;
  overflow: hidden;
  margin-right: 10px;
}
.img-checkout img {
  width: 100%;
  height: auto;
}
.checkout-button {
  display: block;
  float: right;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  margin-top: 20px;
  background: var(--clr-blue2);
  color: white;
  transition: var(--transition);
}
.checkout-button:hover {
  background: var(--clr-blue3);
}
/*==============================*/
